* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #ccc;
}

article {
  width: 210mm;
  height: 297mm;
  margin: 20px auto;
  position: relative;
}

address {
  position: absolute;
  bottom: 8mm;
  right: 20mm;
}

h1 {
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  padding: 44px 0;
  color: white;
  text-shadow: 1px 1px 1px black;
}

/* Your CSS below here */

/* Fallback */
article {
  background: #fff url('/img/top-image.png') top center no-repeat;
  border-top: 1mm solid #bd1010;
  border-bottom: 1mm solid #bd1010;
}

/* Main */
article {
  background: 
    linear-gradient(
      to top,
      rgba(0, 0, 0, 0.25) 0%,
      rgba(0, 0, 0, 0.00) 25%,
      rgba(0, 0, 0, 0.00) 75%,
      rgba(0, 0, 0, 0.25) 100%
    ),
    url('/img/top-image.png') top center no-repeat,
    url('/img/bottom-image.png') bottom center no-repeat,
    #fff;
}

h1 {
  background-image: url('/img/logo.png');
  /* filter: drop-shadow(3px 3px 3px black); */
}

h1::before {
  position: absolute
}